*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root{
  height: 100vh;
  margin-bottom: 0;
}
.App {
  height: 100vh;
  text-align: center;
}

.box{
  position: relative;
  z-index: 100;
  border: 10px solid black;
  height: 100vh;
  margin-bottom: 0;
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
 background-color: whitesmoke;
 overflow: hidden;
}

.svgM{
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: -4%;
  z-index: -10;
  overflow: hidden;
  transform: scaleY(0) translateY(0%);
  transform-origin: bottom;
  transition: all 1s;
}

.center:hover .svgM{
  transform: scaleY(1);
}
.topleft{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
}
.tlin{
  position: absolute;
  height: 101%;
  width: 30%;
  z-index: -10;
  left: 70%;
  bottom: -3%;
  /* transform: translateX(300%); */
  overflow: hidden;
  border: 2px solid black;
  transform: scaleX(0) translateX(122%);
  transform-origin: right;
  transition: all 1s;
}
.topleft:hover .tlin{
  transform: scaleX(1) translateX(5%);
  /* transform: translateX(122%); */
}

.topleft:hover .svgM{
  transform: scaleY(1);
}


.bottomleft{
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
 background-color: whitesmoke;
}
.blin{
    position: absolute;
    height: 33%;
    width: 100%;
    top: 0%;
    z-index: -10;
    overflow: hidden;
    border: 2px solid black;
    transform: scaleY(0) translateY(0%);
    transform-origin: top;
    transition: all 1s;
  }

.bottomleft:hover .blin{
  transform: scaleY(1) translateY(0%);
}

.bottomleft:hover .svgM{
  transform: scaleY(1);
}
.bottomright{
  display: flex;
  z-index: 2;
  justify-content: center;
  align-items: center;
 background-color: whitesmoke;
}
.brin{
  position: absolute;
  height: 101%;
  width: 31.5%;
  bottom: -2%;
  left: 0%;
  z-index: -10;
  overflow: hidden;
  border: 2px solid black;
  transform: scaleX(0) translateX(0%);
  transform-origin: left;
  transition: all 1s;
}
.bottomright:hover .brin{
  z-index: -99;
  transform: scaleX(1) translateX(0%);
}

.bottomright:hover .svgM{
  transform: scaleY(1);
}
/* .tlin{
  position: absolute;
  height: 100%;
  width: 30%;
  z-index: -10;
  transform: translateX(300%);
  overflow: hidden;
  border: 2px solid black;
  transition: all 1s;
} */
.topright{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 background-color: whitesmoke;
}
.trin{
  position: absolute;
  height: 28%;
  width: 100%;
  bottom: -2%;
  z-index: -10;
  overflow: hidden;
  border: 2px solid black;
  transform: scaleY(0) translateY(0%);
  transform-origin: bottom;
  transition: all 1s;
}
.topright:hover .trin{
  transform: scaleY(1) translateY(0%);
}


.topright:hover .svgM{
  transform: scaleY(1);
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width:768px){
  .tlin{
    width: 34%;
    left: 65%;
    transform: scaleX(1) translateX(5%);
  }
  .topleft:hover .tlin{
    width: 30%;
    left: 70%;
  }
  .blin{
    height: 33.5%;
    top: 0%;
    transform: scaleY(1) translateY(0%);
  }
  .bottomleft:hover .blin{
    height: 33.5%;
    top: 0%;
  }
  .brin{
    width: 34%;
    left: 0%;
    bottom: -3%;
    transform: scaleX(1) translateX(0%);
  }
  .bottomright:hover .brin{
    width: 32%;
    left: 0%;
  }
  .trin{
    height: 33.5%;
    bottom: -2%;
    transform: scaleY(1) translateY(0%);
  }
  .topright:hover .trin{
    height: 28%;
    bottom: -2%;
  }
  
}